@page "/core"
@page "/core/{id:int?}"
@inject ICoreBookService Service
@layout CoreLayout

<PageTitle>@Name - .NET книга</PageTitle>

<div class="border-1 bg-light shadow rounded-1 p-2">
    <hr/>
    @if (Id is { })
    {
        <div>
            @if (ItemContent?.Id > 1)
            {
                <NavLink href="@($"core/{ItemContent?.Id - 1}")" class="link-success me-2">
                    Назад
                </NavLink>
            }
            <NavLink href="core" class="link-success me-2">
                Содержание
            </NavLink>
            @if (AnyNextItem)
            {
                <NavLink href="@($"core/{ItemContent?.Id + 1}")" class="link-success me-2">
                    Далее
                </NavLink>
            }
        </div>
        <hr/>
        @if (HtmlContent is null)
        {
            <div class="text-center">
                <p class="my-5 py-5">
                    Загрузка ...
                </p>
                <br/>
            </div>
        }
        else
        {
            <p>
                @HtmlContent
            </p>
        }
        <hr />
        <div class="text-center">
            @if (ItemContent?.Id > 1)
            {
                <NavLink href="@($"core/{ItemContent?.Id - 1}")" class="link-success me-2">
                    Назад
                </NavLink>
            }
            <NavLink href="core" class="link-success me-2">
                Содержание
            </NavLink>
            @if (AnyNextItem)
            {
                <NavLink href="@($"core/{ItemContent?.Id + 1}")" class="link-success me-2">
                    Далее
                </NavLink>
            }
        </div>
    }
    else
    {
        <h1>@Name</h1>
        <hr />
        @if (Parts is { })
        {
            foreach (var part in Parts)
            {
                <h4 class="mt-3 mb-0">@(part.Name)</h4>
                foreach (var item in part.Items)
                {
                    <p class="my-0">
                        <NavLink href="@($"core/{item.Id}")" class="link-success">
                            @(item.Name)
                        </NavLink>
                    </p>
                }
            }
        }
    }
</div>

@code {
    [Parameter]
    public int? Id { get; set; }
    private int bookId = 1;
    private string? Name { get; set; }
    private IEnumerable<Part>? Parts { get; set; }
    private Models.Item? ItemContent { get; set; }
    private bool AnyNextItem { get; set; }
    private MarkupString? HtmlContent;
    protected override async Task OnParametersSetAsync()
    {
        if (Id is { } id)
        {
            ItemContent = Service.GetItem(id);
            AnyNextItem = Service.GetAnyItem(id + 1);
            Name = ItemContent?.Name;
            if (ItemContent?.Path is { } path)
            {
                HtmlContent = await Service.GetHtml(path);
            } 
        }
        else
        {
            var book = Service.GetBook(bookId);
            Name = book?.Name;
            Parts = book?.Parts ?? Array.Empty<Part>();
        }
    }
}

